[Unit]
Description=openSUSE squid container
Documentation=https://en.opensuse.org/Portal:Container/Image/squid
After=network-online.target local-fs.target firewalld.service
Wants=network-online.target

[Service]
Environment=PODMAN_SYSTEMD_UNIT=%n
Restart=on-failure
RestartSec=1s
StartLimitBurst=5
TimeoutStopSec=70
EnvironmentFile=/usr/etc/default/container-squid
EnvironmentFile=-/etc/default/container-squid
ExecStartPre=/bin/rm -f %t/%n.pid %t/%n.ctr-id
ExecStartPre=-/usr/bin/podman pull ${SQUID_IMAGE_PATH}
ExecStart=/bin/sh -c "/usr/bin/podman run --conmon-pidfile %t/%n.pid --cidfile %t/%n.ctr-id --cgroups=no-conmon --sdnotify=conmon --replace -d --rm ${PODMAN_EXTRA_ARGS} ${PODMAN_SQUID_ARGS} --name squid ${SQUID_IMAGE_PATH}"
ExecStop=/usr/bin/podman stop --ignore --cidfile %t/%n.ctr-id -t 10
ExecStopPost=/usr/bin/podman rm --ignore -f --cidfile %t/%n.ctr-id
Type=notify
NotifyAccess=all

[Install]
WantedBy=multi-user.target
