[Unit]
Description=openSUSE squid container
Documentation=https://en.opensuse.org/Portal:Container/Image/squid
After=network-online.target
Wants=network-online.target

[Service]
Restart=on-failure
EnvironmentFile=/usr/etc/default/container-squid
EnvironmentFile=-/etc/default/container-squid
ExecStartPre=-/usr/bin/podman stop squid
ExecStartPre=-/usr/bin/podman rm squid
ExecStartPre=-/usr/bin/podman pull ${SQUID_IMAGE_PATH}
ExecStart=/bin/sh -c "/usr/bin/podman run -d --conmon-pidfile /%t/%n-pid --rm ${PODMAN_SQUID_ARGS} --name squid ${SQUID_IMAGE_PATH}"
ExecStop=/usr/bin/podman stop squid
KillMode=none
Type=forking
PIDFile=/%t/%n-pid

[Install]
WantedBy=multi-user.target
