[Unit]
Description=openSUSE nginx container
Documentation=https://build.opensuse.org/package/show/openSUSE:Factory/opensuse-nginx-image
After=network-online.target

[Service]
TimeoutStartSec=0
Restart=always
EnvironmentFile=/etc/sysconfig/container-nginx
ExecStartPre=-/usr/bin/mkdir -p ${CONFIG_DIR}
ExecStartPre=-/usr/bin/podman stop nginx
ExecStartPre=-/usr/bin/podman rm nginx
ExecStartPre=-/usr/bin/podman pull ${NGINX_IMAGE_PATH}
ExecStart=/usr/bin/podman run --rm -v ${CONFIG_DIR}:/data -p 53:53/tcp -p 443:443/tcp --name nginx ${NGINX_IMAGE_PATH}
ExecStop=/usr/bin/podman stop -t 2 nginx

[Install]
WantedBy=multi-user.target
