[Unit]
Description=openSUSE haproxy container
Documentation=https://build.opensuse.org/package/show/openSUSE:Factory/opensuse-haproxy-image
After=network-online.target container-bind.service

[Service]
Restart=on-failure
EnvironmentFile=/usr/etc/default/container-haproxy
EnvironmentFile=-/etc/default/container-haproxy
ExecStartPre=-/usr/bin/podman stop haproxy
ExecStartPre=-/usr/bin/podman rm haproxy
ExecStartPre=-/usr/bin/podman pull ${DHCPD_IMAGE_PATH}
ExecStart=/usr/bin/podman run -d --conmon-pidfile /%t/%n-pid --rm -v ${CONFIG_FILE}:/etc/haproxy/haproxy.cfg:ro --net=host --name haproxy ${HAPROXY_IMAGE_PATH}
ExecStop=/usr/bin/podman stop haproxy
KillMode=none
Type=forking
PIDFile=/%t/%n-pid

[Install]
WantedBy=multi-user.target
