[Unit]
Description=roundcube container
Documentation=https://github.com/roundcube/roundcubemail-docker/blob/master/README.md
After=network-online.target local-fs.target firewalld.service
Wants=network-online.target

[Service]
Environment=PODMAN_SYSTEMD_UNIT=%n
Restart=on-failure
RestartSec=1s
StartLimitBurst=5
TimeoutStopSec=70
EnvironmentFile=-/usr/etc/default/container-roundcube
EnvironmentFile=-/etc/default/container-roundcube
ExecStartPre=-/usr/bin/mkdir -p ${ROUNDCUBE_DB_DIR} ${ROUNDCUBE_CONFIG_DIR}
ExecStartPre=/bin/rm -f %t/%n.pid %t/%n.ctr-id
ExecStartPre=-/usr/bin/podman pull ${ROUNDCUBE_IMAGE_PATH}
ExecStart=/bin/sh -c "/usr/bin/podman run --conmon-pidfile %t/%n.pid --cidfile %t/%n.ctr-id --cgroups=no-conmon --sdnotify=conmon --replace -d --rm ${PODMAN_EXTRA_ARGS} -v ${ROUNDCUBE_DB_DIR}:/var/roundcube/db:z -v ${ROUNDCUBE_CONFIG_DIR}/config.inc.php:/var/www/html/config/config.inc.php:z ${ROUNDCUBE_PORTS} -e ROUNDCUBEMAIL_DEFAULT_HOST=${ROUNDCUBEMAIL_DEFAULT_HOST} -e ROUNDCUBEMAIL_SMTP_SERVER=${ROUNDCUBEMAIL_SMTP_SERVER} -e ROUNDCUBEMAIL_PLUGINS=${ROUNDCUBEMAIL_PLUGINS} ${ROUNDCUBE_EXTRA_ENV} ${ROUNDCUBE_PORTS} --name roundcube ${ROUNDCUBE_IMAGE_PATH}"
ExecStop=/usr/bin/podman stop --ignore --cidfile %t/%n.ctr-id -t 10
ExecStopPost=/usr/bin/podman rm --ignore -f --cidfile %t/%n.ctr-id
Type=notify
NotifyAccess=all

[Install]
WantedBy=multi-user.target
