[Unit]
Description=openSUSE SpamAssassin container
Documentation=https://build.opensuse.org/package/show/openSUSE:Factory/opensuse-spamassassin-image
After=network-online.target local-fs.target firewalld.service
Wants=network-online.target

[Service]
Restart=on-abnormal
EnvironmentFile=/usr/etc/default/container-spamassassin
EnvironmentFile=-/etc/default/container-spamassassin
ExecStartPre=-/usr/bin/podman stop spamassassin
ExecStartPre=-/usr/bin/podman rm spamassassin
ExecStartPre=-/usr/bin/podman pull ${SPAMASSASSIN_IMAGE_PATH}
ExecStart=/bin/sh -c "/usr/bin/podman run -d --conmon-pidfile /%t/%n-pid --rm ${PODMAN_EXTRA_ARGS} -p 783:783 -e DEBUG=${DEBUG} -e TZ=${TZ} --name spamassassin ${SPAMASSASSIN_IMAGE_PATH}"
ExecStop=/usr/bin/podman stop spamassassin
KillMode=none
Type=forking
PIDFile=/%t/%n-pid

[Install]
WantedBy=multi-user.target
