[Unit]
Description=openSUSE dhcp6 server container
Documentation=https://en.opensuse.org/Portal:Container/Image/dhcp-server
After=network-online.target local-fs.target firewalld.service
Wants=network-online.target
StartLimitIntervalSec=40
StartLimitBurst=5

[Service]
Environment=PODMAN_SYSTEMD_UNIT=%n
Restart=on-failure
RestartSec=1s
TimeoutStopSec=70
EnvironmentFile=/usr/etc/default/container-dhcp-server
EnvironmentFile=-/etc/default/container-dhcp-server
ExecStartPre=-/usr/bin/mkdir -p ${CONFIG_DIR}
ExecStartPre=/bin/rm -f %t/%n.pid %t/%n.ctr-id
ExecStartPre=-/usr/bin/podman pull ${DHCPD_IMAGE_PATH}
ExecStart=/usr/bin/podman run --conmon-pidfile %t/%n.pid --cidfile %t/%n.ctr-id --cgroups=no-conmon --sdnotify=conmon --replace -d --rm $PODMAN_EXTRA_ARGS -v ${CONFIG_DIR}:/data:z --net=host --name dhcp6-server --env DHCPD_IP_PROTOCOL=6 --env DHCPD_INTERFACES=${DHCPD_INTERFACES} ${DHCPD_IMAGE_PATH}
ExecStop=/usr/bin/podman stop --ignore --cidfile %t/%n.ctr-id -t 10
ExecStopPost=/usr/bin/podman rm --ignore -f --cidfile %t/%n.ctr-id
Type=notify
NotifyAccess=all

[Install]
WantedBy=multi-user.target
