[Unit]
Description=openSUSE nginx container
Documentation=https://build.opensuse.org/package/show/openSUSE:Factory/opensuse-nginx-image
After=network-online.target

[Service]
Restart=on-failure
EnvironmentFile=/usr/etc/default/container-nginx
EnvironmentFile=-/etc/default/container-nginx
ExecStartPre=-/usr/bin/mkdir -p ${CONFIG_DIR}
ExecStartPre=-/usr/bin/podman stop nginx
ExecStartPre=-/usr/bin/podman rm nginx
ExecStartPre=-/usr/bin/podman pull ${NGINX_IMAGE_PATH}
ExecStart=/bin/sh -c "/usr/bin/podman run -d --conmon-pidfile /%t/%n-pid --rm -v ${NGINX_CFG}:/etc/nginx -v ${HTDOCS_DIR}:/srv/www/htdocs -p 80:80/tcp -p 443:443/tcp --name nginx ${NGINX_IMAGE_PATH}"
ExecStop=/usr/bin/podman stop nginx
KillMode=none
Type=forking
PIDFile=/%t/%n-pid

[Install]
WantedBy=multi-user.target
