[Unit]
Description=openSUSE mariadb container
Documentation=https://en.opensuse.org/Portal:Container/Image/mariadb
After=network-online.target local-fs.target firewalld.service
Wants=network-online.target

[Service]
Restart=on-abnormal
EnvironmentFile=/usr/etc/default/container-mariadb
EnvironmentFile=-/etc/default/container-mariadb
ExecStartPre=-/usr/bin/mkdir -p ${DATA_DIR}
ExecStartPre=-/usr/bin/podman stop mariadb
ExecStartPre=-/usr/bin/podman rm mariadb
ExecStartPre=-/usr/bin/podman pull ${MARIADB_IMAGE_PATH}
ExecStart=/usr/bin/podman run -d --conmon-pidfile /%t/%n-pid --rm -v ${DATA_DIR}:/var/lib/mysql -v ${SECRETS_DIR}:/etc/mariadb-secrets -p 3306:3306 --env MYSQL_ROOT_PASSWORD_FILE=/etc/mariadb-secrets/MYSQL_ROOT_PASSWORD --env MYSQL_ROOT_HOST_FILE=/etc/mariadb-secrets/MYSQL_ROOT_HOST --env MYSQL_DATABASE_FILE=/etc/mariadb-secrets/MYSQL_DATABASE --env MYSQL_USER_FILE=/etc/mariadb-secrets/MYSQL_USER --env MYSQL_PASSWORD_FILE=/etc/mariadb-secrets/MYSQL_PASSWORD --name mariadb ${MARIADB_IMAGE_PATH}
ExecStop=/usr/bin/podman stop mariadb
KillMode=none
Type=forking
PIDFile=/%t/%n-pid

[Install]
WantedBy=multi-user.target
