[Unit]
Description=openSUSE dhcp4 server container
Documentation=https://en.opensuse.org/Portal:Container/Image/dhcp-server
After=network-online.target
Wants=network-online.target

[Service]
Environment=PODMAN_SYSTEMD_UNIT=%n
Restart=on-failure
RestartSec=1s
StartLimitBurst=5
TimeoutStopSec=70
EnvironmentFile=/usr/etc/default/container-dhcp-server
EnvironmentFile=-/etc/default/container-dhcp-server
ExecStartPre=/bin/rm -f %t/%n.pid %t/%n.ctr-id
ExecStart=/bin/sh -c "/usr/bin/podman run --conmon-pidfile %t/%n.pid --cidfile %t/%n.ctr-id --cgroups=no-conmon --replace -d --rm ${PODMAN_EXTRA_ARGS} -v ${CONFIG_DIR}:/data --net=host --name dhcp-server --env DHCPD_IP_PROTOCOL=4 --env DHCPD_INTERFACES=${DHCPD_INTERFACES} ${DHCPD_IMAGE_PATH}"
ExecStop=/usr/bin/podman stop --ignore --cidfile %t/%n.ctr-id -t 10
ExecStopPost=/usr/bin/podman rm --ignore -f --cidfile %t/%n.ctr-id
Type=forking
PIDFile=%t/%n.pid

[Install]
WantedBy=multi-user.target
